<!DOCTYPE html>
<html lang="en" class="fullpage">

<head>
    <title>HB Web</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="C:\Developer\HBweb\public\css\aboutus.css">
    <link rel="icon" type="image/x-icon" href="C:\Developer\HBweb\public\assets\icon.ico">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"  />
</head>

<body>
    <div class="header-container">
        <a href="index.html" class="logo"> <img src="C:\Developer\HBweb\public\assets\2.png" class="logoheader"> </a>
        <div class="navbar">
            <a href="employee.html" id="navbar1"> Meet the team </a>
            <a href="opportunity.html" id="navbar1"> Opportunities </a>
            <a href="aboutus.html" id="navbar1"> <span id="selector">About Us </a></span>
            <a href="login.html" class="login">SIGN IN</a>
        </div>
    </div>

    <div class="maincontentcontainer">
        <div class="main-writing" id="start">
            <div class="icons"> <i class="fa-solid fa-id-card fa-5x"></i> </div>
            <div class='writing'><p>At Hot Beans Web, we're more than just a tech company — we're a community of passionate innovators, creative thinkers, and problem solvers. We are Hot Beans Web, a web development company based in the UK.</p></div>
            <a href="employee.html"><button class="fast_forward1">Meet our team! </button></a>
        </div>
        <div class="main-writing">
            <div class="icons"> <i class="fa-solid fa-bolt fa-5x"></i> </div>
            <div class='writing'><p>Ninety percent of our employees receive a 5% bonus in their first year, reflecting our commitment to rewarding hard work and fostering a positive, motivating work environment.</p></div>
            <a href="opportunity.html" > <button class="fast_forward">Explore our vacancies </button></a>
        </div>
        <div class="main-writing">
            <div class="icons"><i class="fa-brands fa-meta fa-5x"></i><i class="fa-brands fa-tiktok fa-5x"></i><i class="fa-brands fa-x-twitter fa-5x"></i></div>
            <div class='writing'><p>You can reach us on social media to stay updated with our latest projects, company news, and industry insights. Follow us on Twitter, LinkedIn, Facebook, and Instagram to connect with our community and learn more about what we do.</p></div>
            <a href="www.instagram.com" > <button class="fast_forward_social">Contact us on socials. </button></a>
        </div>
            
    </div>
