<!DOCTYPE html>
<html lang="en" class="fullpage">

<head>
    <title>HB Web</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="C:\Developer\HBweb\public\css\employee.css">
    <link rel="icon" type="image/x-icon" href="C:\Developer\HBweb\public\assets\icon.ico">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>

<body>
    <div class="header-container">
        <a href="index.html" class="logo"> <img src="C:\Developer\HBweb\public\assets\2.png" class="logoheader"> </a>
        <div class="navbar">
            <a href="employee.html" id="navbar1"><span id="selector"> Meet the team</span> </a>
            <a href="opportunity.html" id="navbar1"> Opportunities </a>
            <a href="aboutus.html" id="navbar1"> About Us </a>
            <a href="login.html" class="login">SIGN IN</a>
        </div>
    </div>

    <div class="main-container">
        <div class="title"> Meet the crew: </div>
        <div class="employ-row">
            <div class="profile1">
                <div class="prof1pic"> <img src='https://i.pinimg.com/564x/61/89/f7/6189f76b02101262ba8a6f60b36cc466.jpg'> </div>
                <div class="name1"> Big B </div>
                <div class="quote1"> fiHot Beans Web isn't just about building websites; it's about building relationships, both with our clients and within our team. </div>
            </div>
            <div class="profile2">
                <div class="prof2pic"> <img src='https://i.pinimg.com/564x/63/b0/eb/63b0ebe485fb23850ec3db19d0d68a1e.jpg'> </div>
                <div class="name2"> $Hungry Homer </div>
                <div class="quote2"> Working at Hot Beans Web is more than just a job—it's a collaborative journey toward excellence. </div>
            </div>
            <div class="profile3">
                <div class="prof3pic"> <img src='https://i.pinimg.com/564x/e3/57/71/e357711eeb000a9717ca0a88fc5fd1c7.jpg'> </div>
                <div class="name3"> SRT SpongeBob </div>
                <div class="quote3"> At Hot Beans Web, every day feels like a new adventure in creativity and innovation! </div>
            </div>
            <div class="profile4">
                <div class="prof4pic"> <img src='https://i.pinimg.com/564x/95/10/14/95101465ae7a757712c0dad904abd344.jpg'> </div>
                <div class="name4"> Dictator Donald </div>
                <div class="quote4"> Hot Beans Web challenges me to think outside the box and explore new horizons in web design and development. </div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <a href="opportunity.html" class="button">View Careers</a>
    </div>

</body>

</html>