<!DOCTYPE html>
<html lang="en" class="fullpage">

<head>
    <title>HB Web</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="C:\Developer\HBweb\public\css\styles.css">
    <link rel="icon" type="image/x-icon" href="C:\Developer\HBweb\public\assets\icon.ico">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>

<body>
    <div class="header-container">
        <a href="index.html" class="logo"> <img src="C:\Developer\HBweb\public\assets\2.png" class="logoheader"> </a>
        <div class="navbar">
            <a href="employee.html" id="navbar1"> Meet the team </a>
            <a href="opportunity.html" id="navbar1"> Opportunities </a>
            <a href="aboutus.html" id="navbar1"> About Us </a>
            <a href="login.html" class="login">SIGN IN</a>
        </div>
    </div>

    <div class="main-content">
        <div class="mainbody">
            <p class="main-text"> Your <span class="highlight">future</span> career starts here. </p>
            <p class="seconday-text"> Get ready to dive into our world of employment </p>
            <a hrerf='opportunity.html' id="learn_more"> Learn More </a>
        </div>
        <div class="bodyimage">
            <img src="https://i.pinimg.com/564x/72/65/25/7265251f27ab9c05c711ec403d0c4f2f.jpg" class="bodyimg">
        </div>
    </div>
</body>

</html>