<!DOCTYPE html>
<html lang="en" class="fullpage">

<head>
    <title>HB Web</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="C:\Developer\HBweb\public\css\opportunity.css">
    <link rel="icon" type="image/x-icon" href="C:\Developer\HBweb\docs\assets\icon.ico">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <script src="C:\Developer\HBweb\scripts\scripts.js"></script>
</head>

<body>
    <div class="header-container">
        <a href="index.html" class="logo"> <img src="C:\Developer\HBweb\public\assets\2.png" class="logoheader"> </a>
        <div class="navbar">
            <a href="employee.html" id="navbar1"> Meet the team </a>
            <a href="opportunity.html" id="navbar1"> <span id="selector">Opportunities</span> </a>
            <a href="aboutus.html" id="navbar1"> About Us </a>
            <a href="login.html" class="login">SIGN IN</a>
        </div>
    </div>

    <div class="main-container">
        <div class="job-container">
            <div class="job1-container">
                <div class="job1-title"> Senior Software Delevoper</div>
                <div class="job1location"> London, ENG, GB</div>
                <div class="job1xtrainfo"> <em> PhD required. </em> </div>
            </div>
            <div class="job2-container">
                <div class="job2-title"> Junior Software Delevoper</div>
                <div class="job2location"> Manchester, ENG, GB</div>
                <div class="job2xtrainfo"> <em> ALEVEL required. </em> </div>
            </div>
            <div class="job3-container">
                <div class="job3-title"> Senior Website Delevoper</div>
                <div class="job3location"> Swansea, ENG, GB</div>
                <div class="job3xtrainfo"> <em> PhD required. </em> </div>
            </div>
            <div class="job4-container">
                <div class="job4-title"> Junior Website Delevoper</div>
                <div class="job4location"> Bristol, ENG, GB</div>
                <div class="job4xtrainfo"> <em> ALEVEL required. </em> </div>
            </div>
            <div class="reg_intrest_container">
                <a href="register_intrest.html" class="register_intrest_button">Register your intrest with us now!</a>
            </div>
        </div>
        <div class="job-info"> 
            <div class="job1-info-container">
                <div class="job1-info-title"> Senior Software Delevoper </div>
                <div class="job1-info-location"> London, ENG, GB </div>
                <div class="job1-info-salary"> ￡50,000  </div>
                <div class="job1-info-description">
                    <h4>Job Description</h4>
                    <p>We are seeking an experienced and highly skilled Senior Software Developer to join our dynamic team in London, UK. As a Senior Software Developer, you will play a pivotal role in the design, development, and implementation of cutting-edge software solutions to meet the evolving needs of our company.</p>
                
                    <h5>Key Responsibilities:</h5>
                    <ul>
                        <li>Lead the development of software projects from concept to deployment, ensuring high quality, scalability, and performance.</li>
                        <li>Collaborate with cross-functional teams to gather requirements, define project scope, and establish technical specifications.</li>
                        <li>Architect and design robust, maintainable, and scalable software solutions that align with industry best practices and standards.</li>
                        <li>Conduct code reviews, provide constructive feedback, and mentor junior team members to foster a culture of continuous improvement and learning.</li>
                        <li>Stay abreast of emerging technologies, tools, and trends in software development, and proactively propose innovative solutions to address complex technical challenges.</li>
                        <li>Drive the adoption of agile methodologies and practices to streamline development processes and improve team productivity.</li>
                    </ul>
                
                    <h5>Requirements:</h5>
                    <ul>
                        <li>PhD in Computer Science, Engineering, or related field.</li>
                        <li>Proven experience in software development, with a strong proficiency in one or more programming languages (e.g., Java, Python, C++, etc.).</li>
                        <li>Extensive knowledge of software engineering principles, design patterns, and architectural patterns.</li>
                        <li>Expertise in web development frameworks, database management systems, and cloud computing platforms.</li>
                        <li>Excellent problem-solving skills and ability to think critically and analytically.</li>
                        <li>Strong communication and interpersonal skills, with the ability to collaborate effectively in a fast-paced, team-oriented environment.</li>
                    </ul>
                
                    <h5>Benefits:</h5>
                    <ul>
                        <li>Competitive salary with performance-based incentives.</li>
                        <li>Comprehensive health and wellness benefits package.</li>
                        <li>Opportunities for professional development and career advancement.</li>
                        <li>Vibrant and inclusive work culture with a focus on work-life balance.</li>
                        <li>Exciting projects and challenging assignments that offer opportunities for growth and innovation.</li>
                    </ul>
                
                    
                    <p>Join us and be part of a dynamic team that is passionate about pushing the boundaries of technology and driving impactful change in the industry. If you are a visionary software developer with a passion for innovation and a commitment to excellence, we want to hear from you!</p>
                </div>
            </div>
            <div class="job2-info-container">
                <div class="job2-info-title"> Junior Software Developer </div>
                <div class="job2-info-location"> Manchester, ENG, GB </div>
                <div class="job2-info-salary"> ￡30,000  </div>
                <div class="job2-info-description">
                    <h4>Job Description</h4>
                    <p>Join our team in Manchester as a Junior Software Developer and kickstart your career in the tech industry. As a Junior Software Developer, you'll be involved in creating innovative software solutions that drive our company's success. Your role will encompass collaborating with senior developers, writing code, and assisting in project planning and execution.</p>
                    <h5>Key Responsibilities:</h5>
                    <ul>
                        <li>Assist in the development of software projects under the guidance of senior team members.</li>
                        <li>Write clean, efficient, and maintainable code.</li>
                        <li>Participate in code reviews and contribute to continuous improvement efforts.</li>
                        <li>Collaborate with cross-functional teams to understand project requirements and deliver effective solutions.</li>
                    </ul>
                    <h5>Requirements:</h5>
                    <ul>
                        <li>A-levels or equivalent qualification in Computer Science or related field.</li>
                        <li>Basic understanding of programming languages such as Java, Python, or JavaScript.</li>
                        <li>Strong problem-solving skills and a passion for technology.</li>
                        <li>Excellent communication and teamwork abilities.</li>
                    </ul>
                    <h5>Benefits:</h5>
                    <ul>
                        <li>Competitive salary with opportunities for growth.</li>
                        <li>Comprehensive training and mentorship programs.</li>
                        <li>Exposure to cutting-edge technologies and projects.</li>
                        <li>Supportive work environment focused on learning and development.</li>
                    </ul>
                </div>
            </div>
            <div class="job3-info-container">
                <div class="job3-info-title"> Senior Website Developer </div>
                <div class="job3-info-location"> Swansea, ENG, GB </div>
                <div class="job3-info-salary"> ￡60,000  </div>
                <div class="job3-info-description">
                    <h4>Job Description</h4>
                    <p>Are you a seasoned developer with a passion for website development? Join our team in Swansea as a Senior Website Developer and lead the charge in creating exceptional web experiences. In this role, you'll leverage your expertise to architect, design, and implement dynamic websites that captivate audiences and drive business growth.</p>
                    <h5>Key Responsibilities:</h5>
                    <ul>
                        <li>Lead the development of website projects from conception to launch, ensuring quality and adherence to specifications.</li>
                        <li>Collaborate with designers, marketers, and other stakeholders to translate requirements into user-centric web solutions.</li>
                        <li>Mentor junior developers and provide guidance on best practices and industry standards.</li>
                        <li>Stay updated on emerging trends and technologies in web development to drive innovation and maintain a competitive edge.</li>
                    </ul>
                    <h5>Requirements:</h5>
                    <ul>
                        <li>PhD in Computer Science, Web Development, or related field.</li>
                        <li>Proven experience in website development, with a strong portfolio showcasing your work.</li>
                        <li>Expertise in front-end and back-end technologies such as HTML, CSS, JavaScript, PHP, and MySQL.</li>
                        <li>Experience with content management systems (e.g., WordPress, Drupal) and e-commerce platforms.</li>
                        <li>Strong leadership, communication, and project management skills.</li>
                    </ul>
                    <h5>Benefits:</h5>
                    <ul>
                        <li>Competitive salary package with performance-based bonuses.</li>
                        <li>Opportunities for career advancement and professional development.</li>
                        <li>Flexible working arrangements and a supportive team environment.</li>
                        <li>Exciting projects and challenges that push the boundaries of web development.</li>
                    </ul>
                </div>
            </div>            
            <div class="job4-info-container">
                <div class="job4-info-title"> Junior Website Developer </div>
                <div class="job4-info-location"> Bristol, ENG, GB </div>
                <div class="job4-info-salary"> ￡30,000  </div>
                <div class="job-info-description">
                    <h4>Job Description</h4>
                    <p>Embark on a rewarding journey in web development as a Junior Website Developer in our Bristol office. This role is perfect for individuals with a passion for technology and a desire to learn and grow. As a Junior Website Developer, you'll work alongside experienced professionals to build dynamic and engaging websites that leave a lasting impression on users.</p>
                    <h5>Key Responsibilities:</h5>
                    <ul>
                        <li>Assist in the development and maintenance of websites, ensuring functionality and user experience are optimized.</li>
                        <li>Collaborate with designers and content creators to bring concepts to life through code.</li>
                        <li>Troubleshoot and debug issues to ensure smooth website performance across various platforms and browsers.</li>
                        <li>Stay updated on industry trends and best practices to continuously enhance skills and contribute fresh ideas to projects.</li>
                    </ul>
                    <h5>Requirements:</h5>
                    <ul>
                        <li>A-levels or equivalent qualification in Computer Science, Web Development, or related field.</li>
                        <li>Basic knowledge of HTML, CSS, and JavaScript.</li>
                        <li>Eagerness to learn and grow in a fast-paced environment.</li>
                        <li>Strong attention to detail and problem-solving abilities.</li>
                    </ul>
                    <h5>Benefits:</h5>
                    <ul>
                        <li>Competitive salary and opportunities for career progression.</li>
                        <li>Comprehensive training and development programs.</li>
                        <li>Supportive team environment with mentorship and guidance.</li>
                        <li>Exposure to diverse projects and technologies to broaden skills and expertise.</li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>